<div class="card_container"> 
    <card_header>
    <div class="activity_card">
        <div class="container" style="margin-top:10px;background:#f9f9f9;">
            <div class="row">
                <div class="card_custom_body">
                    <h4>
                        <b>{{ post.date }}</b>
                        {% for pdf in post.pdfs %}
                        <a href="{{ pdf.path }}">
                            <div class="author-container">{{ pdf.filename }}</div>
                        </a>
                        {% endfor %}
                    </h4>
                    {% for user in post.users %}
                    <a href="https://www.acmicpc.net/user/{{ user.user_id }}" id="tag-link" style="text-decoration:none;">
                        <div class="author-container">
                            {{ user.user_id }}
                            {% if 'logged_in' in session %}
                            ({{username_dict[user.user_id]}})
                            {% endif %}
                        </div>
                    </a>
                    {% for problem in user.problems %}
                    <a href="https://www.acmicpc.net/problem/{{ problem.problem_id }}" id="tag-link" style="text-decoration:none;">
                        {% if problem.status == 1 %}
                        <div class="tag-container" style="background:#8ED4B1;color:#ffffff;">
                            {{ problem.problem_id }}
                        </div>
                        {% elif problem.status == 0 %}
                        <div class="tag-container">
                            {{ problem.problem_id }}
                        </div>
                        {% elif problem.status == -1 %}
                        <div class="tag-container" style="background:#ff9999;color:#ffffff;">
                            {{ problem.problem_id }}
                        </div>
                        {% endif %}
                    </a>
                    {% endfor %}
                    <div class="author-container">
                        {{ user.accept_rate }}%
                    </div>

                    <br>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </card_header>
</div>
