<div class="card_container"> 
    <card_header>
    <div class="activity_card">
        <div class="container" style="margin-top:10px;">
            <div class="row">
                <div class="card_custom_body">
                    <h4>
                        <b>{{ post.date }}</b>
                    </h4>
                    {% for user in post.users %}
                    <a href="https://www.acmicpc.net/user/{{ user.user_id }}" id="tag-link" style="text-decoration:none;">
                        <div class="author-container">
                            {{ user.user_id }}
                        </div>
                    </a>
                    {% for problem in user.problems %}
                    <a href="https://www.acmicpc.net/problem/{{ problem.problem_id }}" id="tag-link" style="text-decoration:none;">
                        {% if problem.status == 1 %}
                        <div class="tag-container" style="background:#8ED4B1;color:#ffffff;">
                        {% elif problem.status == 0 %}
                        <div class="tag-container">
                        {% elif problem.sttus == -1 %}
                        <div class="tag-container" style="background:#ff9999;color:#ffffff;">
                        {% endif %}
                            {{ problem.problem_id }}
                        </div>
                    </a>
                    {% endfor %}
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </card_header>
</div>
